:root{
  --main-text-color: #ffffff;
  --main-background-color: #13151e;
  --sustraplay-navbar: #1a1d28;
  --logOrSign-form: #5972ca;
  --headline-game: #27357a;
  --details-game: #374798;
  --headline-mostPlay: #272e47;
  --detail-mostPlay: #232738;
  --var1-gamepage: #091658;
  --var2-gamepage: #09154f;
}
